.ChartDiv
{
    background-color: rgba(50, 50, 50, 0.5);
    border-color: rgba(49, 49, 49, 0.4);
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    font-family: OpenSans, Arial;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    position: relative;
    display: inline-block;
}

.ChartDiv p
{
    padding-left: 5px;
    color: darkcyan;
}

.ChartItself
{
    display: inline-block;
    font-size: 12px;
}

.bar:hover
{
    cursor: pointer;
    opacity: .5;
}
